.orange-color{
    color: darkorange;
    font-family: sans-serif;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(crimson,orange);
    padding: 10px 40px;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(food-network-main/images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    padding: 100px;

}
.pop-up{
    color: purple;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.experience-item{
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px blanchedalmond;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;


}
#web-dev-experience{
    border-left: 7px;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#devi{
    border-left: 7px;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#web-dev{
    border-left: 7px;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.experience-item img{
    width: 70%;
}
#toto{
    text-align: center;
    color: chocolate;
}
.foodie{
    text-align: center;
    margin-bottom: 50px;
}

.footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 50px;
}
.roro{
    color: tomato;
}
.queen{
    text-align: center;
    margin-bottom: 100px;
    
}
#color{
    color: mediumvioletred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.uu{
    display: flex;
    margin-left: 50px;
}
.rimi{
    padding-left: 50%;
}